@page
@model CreateModel
@{
}
<h3>Добавление нового предмета мебели</h3>
<form method="post">
    <p>
        <label>Название</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Колличество:</label><br />
        <input name="quantity" type="number" />
    </p>
    <input type="submit" value="Отправить" />
</form>